#main {
    padding-top: 12rem;
}
nav.navigation {
  height: 6.4rem;
  padding-top: 0.5rem;
  background-color: #123;
}
nav.navigation .img {
  height: 2.8rem;
}
nav.navigation h1.title {
  font-size: 3rem;
  color: #fff;
}
section.container h4:first {
  display: none;
}
section.container h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.8px;
}
h6 {
  line-height: 1.2rem;
  font-style: italic;
}
h1.title {
  margin-left: 2rem;
}